:root {
  --bg: #051626;
}
.container{
  max-width: 2000px;
  position: relative;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // background: var(--bg);
}
.container-xl{
  max-width: 2000px;
}
// body { 
//   height: 100%; 
//   margin: 0; 
//   display: grid; 
//   place-items: center; 
//   background: #930B12; 
// }
////////////////////////////////* About Section ////////////////////////////////
#about {
  // background-color: #0b0c26;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: #151830;
  overflow: hidden;
}

.big-title {
  animation: flipInX 1s both;
  animation-delay: 0.5s;
  color:white
}

.btn-primary {background-color: lightskyblue}

a, h3.article-title a:hover {
  color:lightgray
}

// icon


////////////////////////////////* Project Section ////////////////////////////////
// the whole project
#projects {
  // background-color: #0b0c26;
  // height: 100vh;
  margin: 0;
  background: #151830;
  overflow: hidden;
}

// the Project title text
.mb-0 {
  color: red
}

