@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
:root {
  --bg: #051626;
}
.container{
  max-width: 2000px;
}
.container-xl{
  max-width: 2000px;
}

////////////////////////////////* About Section ////////////////////////////////
#about {
  // background-color: #0b0c26;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: #151830;
  overflow: hidden;
  position: relative;
}
// title
#title{
  z-index: 10;
    margin-top: 12%;
    margin-left: 12%;
    font-family: 'Special Elite', cursive;
    letter-spacing: 0.2em;
}
// .big-title {
//   animation: flipInX 1s both;
//   animation-delay: 0.5s;
//   color:white;

// }
.my-sub-title{
  display:inline;
  font-size: 1.1rem;
  font-family: 'Special Elite', cursive;
  letter-spacing: 0.2em;
}
.my-toolbox{
  display:inline;
  font-size: 1.1rem;
}

//* typewriter effect
.Typewriter__wrapper{
  font-size: 2rem;
  font-weight: regular;
  color: white;

}

/* Removing the cursor */
#app{
  justify-content: center;
}
.Typewriter__cursor{
  display: inline-block;
  color: white;
  font-size: 2em
}

a, h3.article-title a:hover {
  color:lightgray
}

// icon
.network-icon{
  position: relative;
  display: inline-flex;
  width: 100%;
  z-index: 3;
  justify-content: center;
  top: 19vh
}

.network-icon a {
  color: #7866B0
}


//* just trying to use responsive css here
/* middle size style */
@media screen and (max-width:500px) {
  .skill-list{
    position: relative;
    // margin-left: 12%;
    justify-content: left;
    left:-1rem
  }
}

/* large size style */
@media screen and (min-width:500px) {
  .skill-list{
    position: relative;
    // margin-left: 12%;
    justify-content: left;
    left:-1rem
  }
}
////////////////////////////////* Nav Bar Section ////////////////////////////////
.navbar-nav {
  font-size: 0.88rem;
  letter-spacing: 0.1em;
}
////////////////////////////////* Project Section ////////////////////////////////
// the whole project
#projects {
  // background-color: #0b0c26;
  // height: 100vh;
  margin: 0;
  background: #151830;
  overflow: hidden;
  position: relative;
  z-index:3
}


// the Project title text
.section-heading > h1 {
  font-size: 2rem;
  font-family: 'Special Elite', cursive;
  letter-spacing: 0.2em;
  color: #f5f7f9
}


.animation css-doodle {
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;

}

.project-toolbar{
  position: relative;
  z-index: 3;
}

////////////////////////////////* Button Section ////////////////////////////////

.btn-primary {
  background-color: #5b4e9d;
  font-family: 'Work Sans';
}
.btn {
  padding: .5 rem;
  font-size: .8rem;
  line-height: .5;
  border-radius: .3rem;
}
.dark .btn-primary, .dark .btn.btn-primary.active {
  color: #e0d7ee;
}
.btn-toolbar .btn.btn-primary:active, .btn-toolbar .btn.btn-primary.active {
  background-color: #3b388a !important;
}
////////////////////////////////* Post Article Section ////////////////////////////////
.universal-wrapper{
  max-width: 1200px;
}
.article-container {
  max-width: 1200px;
}
////////////////////////////////* Post Article Section ////////////////////////////////
.dark .card {
  background:black;
  
}


