////////////////////////////////* About Section ////////////////////////////////
#about {
  background-color: #0b0c26;
  height: 100vh;
}

.big-title {
  animation: flipInX 1s both;
  animation-delay: 0.5s;
  color:white
}

.btn-primary {background-color: lightskyblue}

a, h3.article-title a:hover {
  color:lightgray
}


// icon


////////////////////////////////* Project Section ////////////////////////////////
// the Project title text
.mb-0 {
  color: red
}
